<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="{{ url_for('static', filename='script.js') }}"></script>

  <title>Certificate Generator</title>
</head>
<body>
  <h1>Upload Excel to Generate Certificates</h1>
  <form action="/generate" method="post" enctype="multipart/form-data">
    <input type="file" name="file" accept=".xlsx,.xls" required>
    <button type="submit">Generate Certificates</button>
  </form>
</body>
</html>
